
body {
  font-family: 'Mulish', sans-serif;
 background-color: black;
 color: white;                      
margin: 0;
padding: 0;
min-height: 100vh;
position: relative; /* Set body to relative position */
}


/* Adjust the top-bar styles */

.navbar-collapse {
  background-color: black; /* Change the background color of the collapsed menu */
}

.mobile-menu {
  position: absolute;
  top: 100%; /* Position it below the mobile button */
  right: 0;
  left: 0;
  background-color: #fff; /* Set background color */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a shadow for style */
  z-index: 1000; /* Set a high z-index to make it appear above content */
  display: none; /* Initially hide the menu */
}

.name {
font-family: 'Mulish', sans-serif;
font-size: 1.25rem; /* Adjust the font size as needed */
color: #f23580;

}
#navbarSupportedContent.collapse.navbar-collapse img {

 margin-top: 2%;
 margin-left: 6%;
 width: 80px;
}


.navigation-links {
list-style: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;

}

.navigation-links a {
color: white;

font-weight: 600;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease;
}
.
.navigation-links li {
margin-right: 5%;
font-family: "mulish";
}

.navigation-links a:hover {
background-color: #f23580;
box-shadow:  0px 0px 5.4375px 0px #FFF, 0px 0px 10.875px 0px #FFF, 0px 0px 38.0625px 16px #FFF;}